* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009DFA;
    --secandry-color: #2ECC71;
    --white-color: #FFF;
    --deleting-color: #E74C3C;
    --black-color:black;

}

.container {
    padding: 30px 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
}

.container .main-sec {
    position: relative;
    /* background-color: #fff; */
    width: 400px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}
.add-task-input{
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 8px;
}
.add-task-input input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border:0 ;
    border-bottom: 2px solid #eee;
    color: var(--black-color);
    padding-top: 15px;

}
.add-task-input button{
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    color: var(--white-color);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.task{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    margin-bottom:15px ;
    padding: 0 15px;
    gap: 15px;
}
.task button{
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    color: var(--white-color);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

p{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 8px;
}
.task-list {
    width: 100%;

}

.task button#edit-task{
    background-color: var(--secandry-color);
}
.task button#delete-task{
    background-color: var(--deleting-color);
}
.clear-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#clear-btn{
    padding: 9px 23px;
    border-radius: 8px;
    outline: none;
    border: 0px;
    background: var(--deleting-color);
    color: var(--white-color);
    font-size: 15px;
    margin-bottom: 15px;
    width: 100%;
}
